<!DOCTYPE html>
  
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>検索結果</title>
    </head>

    <body>
        <h1>検索したよ</h1>
        <ul>
            <li th:each="t: ${kensakuList}">
                [[${t.keyword}]]
            </li>
        </ul>
        <h2>検索結果</h2>
        <form th:action="@{/search}" th:object="${kensakuForm}" method="post">
            <label for="name">お名前：</label>
            <input type="text" th:field="*{name}" size="8" value="名無しさん" />
            <label for="comment">つぶやき：</label>
            <input type="text" required th:field="*{keyword}" />
        </form>
        <h2>タイトルへ</h2>
        <a th:href="@{/}">戻る</a>
    <body>
</html>